@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');

.score{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    font-family: 'Orbitron', sans-serif;
    color: white;
}

.score-points{
    font-size: 3em;
    font-weight: 500;
}

.score-points > span:first-child{
    margin-right: 1em;
}

.score-points, .score-games{
    display: flex;
    justify-content: space-between;
}

.score-games{
    margin-top: -.5em;
    font-weight: 400;
}

.score-games > span{
    width: 40%;
    text-align: center;
}