@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');

.score{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    font-family: 'Orbitron', sans-serif;
    color: white;
    user-select: none;
    cursor: default;
}

.score-points, .score-games{
    display: flex;
}

.score-points{
    justify-content: space-between;
    font-size: 3em;
    font-weight: 500;
}

.score-points > span{
    width: 1em;
}

.score-points > span:first-child{
    margin-right: 1em;
}

.score-games{
    justify-content: space-evenly;
    margin-top: -.5em;
    font-weight: 400;
}

.score-animation{
    animation: showScore 2s ease-in-out;
}

@keyframes showScore{
    0%{
        display: flex;
        top: -50%;
    }
    100%{
        top: 0;
    }
}